.tic-toc-toe {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0;
}

app-square {
  height: 200px;
}
.game-winner .mat-card-content,
.current-player .mat-card-content {
  font-size: 2rem;
}

.winner-x, .player-x {
  color: #ff4081;
}
.winner-o, .player-o {
  color: #3f51b5;
}
button:focus {
  outline: none !important;
}

@media (max-width: 767px) {
  .tic-toc-toe {
    grid-template-columns: repeat(3, 1fr);
  }
  app-square {
    height: 100px;
  }
  h1 {
    font-size: 2rem;
  }
  .game-winner .mat-card-content,
.current-player .mat-card-content {
  font-size: 1.5rem;
}
}
