<div class="py-5 ">
    <div class="example-container">
        <h2>To do 1</h2>
    
        <div cdkDropList id="todo" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['componentLayout', 'dynamicComIdArray']"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.column}}</div>
        </div>
      </div>
  <div class="example-container">
    <h2>To do</h2>

    <div cdkDropList id="typography" [cdkDropListData]="typography" [cdkDropListConnectedTo]="dynamicComIdArray"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of typography" [cdkDragData]="item.componentId" cdkDrag>{{item.componentId}}</div>
    </div>
  </div>

  

  <div class="example-container " style=width:95%;>
    <h2>Done</h2>

    <div cdkDropList id="componentLayout" [cdkDropListData]="componentLayout" [cdkDropListConnectedTo]="['todo']"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of componentLayout; let i = index" cdkDrag>
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="w-100" cdkDropListOrientation="horizontal">
          <div class="row mx-0">
            <div class="" *ngFor="let item1 of item.columnArray;let ind = index" [ngClass]="{'col-sm-12':item.column==1, 'col-sm-6':item.column==2, 'col-sm-4':item.column==3, 'col-sm-3':item.column==4}"
              cdkDrag>
              <div class="border px-2 py-5" cdkDropList [cdkDropListData]="componentLayoutData"
                [cdkDropListConnectedTo]="['typography']" class="example-list getInnerContainerId" (cdkDropListDropped)="drop($event)"
                (cdkDropListEntered)="dropListEntered($event)">
                <div  class="py-4" cdkDrag>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>